name = "presence-data-frontend"
compatibility_date = "2023-12-01"
pages_build_output_dir = "dist"

[env.production]
vars = { API_BASE_URL = "https://presensi.sigmath.net/api" }

[env.preview]
vars = { API_BASE_URL = "https://presensi.sigmath.net/api" }